@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@import './varibles';
@import './header';

* {
    box-sizing: border-box;
    font-size: 1.1rem;
}

body, html {
    background: linear-gradient(45deg, #cea9d5, #a0f1ea);
    height: 100vh;
}

.wrapper {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}
.calculator{
    background: $calculatorColor;
    color: white;
    min-height: 30rem;
    min-width: 25rem;
}
.display{
    width: 100%;
    min-height: 13rem;
    display: flex;
    flex: wrap;
    justify-content: flex-end;
    align-items: flex-end;

    h2{
        font-size: 2rem;
    }
    
}
.keyboard-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    button {
        background: $calculatorColor;
        color: white;
        display: inline-block;
        padding: 1.35em 1.2em; 
        border: 0.1em solid rgb(196, 184, 205);
        border-radius: 0.12em ;
        box-sizing: border-box;
        text-decoration: none;
        min-width: 5rem;
        min-height: 5rem;
        &:hover{
            background: #9bded8;
        }
    }
    .number-container { 
        display: grid;
        grid-template-columns: repeat(3, minmax(5rem, 1fr));
    }
    
    .operator-container {
        display: flex; 
        flex-direction: column;
    }
}
