@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@import './varibles';
@import './header';

span {
    font-size: 3.2rem;
}

body, html {
    // background: linear-gradient(45deg, #cea9d5, #a0f1ea);
    height: 100vh;
}

.wrapper {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}
.calculator{
    background: $calculatorColor;
    color: white;
    min-height: 15rem;
    min-width: 18rem;
    border-radius: 0.5rem;
}
.display{
    min-height: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    padding: 1rem;
    word-wrap: break-word;
    word-break: break-all;

    #history-display{
        font-size: 1.5rem;
        margin-top: 2rem;
        color: rgba($color: white, $alpha: 0.60);
    }
    #work-display{
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    
}
.keyboard-container{
    display: flex;

    button {
        background: $buttonColor;
        cursor: pointer;
        color: white;
        display: inline-block;
        border: 0.1rem solid $buttonColor;
        border-radius: 2rem ;
        text-decoration: none;
        outline: none;
        &:hover{
            background: $hoverColor;
        }
        padding: 0.3rem;
        margin: 0.3rem;

    }
    .number-container { 
        display: grid;
        grid-template-columns: repeat(3, minmax(2rem, 1fr));
        margin-left: 0.3rem;
    }
    
    .operator-container {
        display: flex; 
        flex-direction: column;
        
    }
}
