@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@import './varibles';
@import './header';

* {
    box-sizing: border-box;
    font-size: 1.1rem;
}

body, html {
    background: linear-gradient(45deg, #cea9d5, #a0f1ea);
    height: 100vh;
}

.wrapper {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}
.calculator{
    background: $calculatorColor;
    color: white;
    min-height: 30rem;
    min-width: 25rem;
}
.display{
    max-width: 25rem;
    min-height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    padding: 1rem;
    word-wrap: break-word;
    word-break: break-all;

    #history-display{
        font-size: 1.5rem;
        margin-top: 2rem;
        color: rgba($color: white, $alpha: 0.60);
    }
    #work-display{
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    
}
.keyboard-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    button {
        background: $calculatorColor;
        cursor: pointer;
        color: white;
        display: inline-block;
        padding: 1.35em 1.2em; 
        border: 0.1em solid rgb(196, 184, 205);
        border-radius: 0.12em ;
        /* box-sizing: border-box; */
        text-decoration: none;
        outline: none;
        min-width: 5rem;
        min-height: 5rem;
        &:hover{
            background: #9bded8;
        }
    }
    .number-container { 
        display: grid;
        grid-template-columns: repeat(3, minmax(5rem, 1fr));
    }
    
    .operator-container {
        display: flex; 
        flex-direction: column;
    }
}
